Response to reviews.ipynb
immediate air hole change.svg
next nearest air hole change.svg
response combo fig.svg
c_matrix 3x3.csv
3x3 with annotations.png
c_matrix 4x4.csv
haldane couplings.png
edgemode location.svg
.gitignore
intensity bar plot.svg
Flat intensity spectra from osa.svg
barchart for single shot fig 1.svg
*.svg
*.png